.top{
 vertical-align: middle;
 font-size: 12px;
 font-weight: bold;
 padding-left:25px;
}
#hmlogo{
  min-width:300px;
  padding-left:150px;
}
.top img {
  vertical-align:middle;
  padding: 10px 10px 0px;
  max-width: 100px;
}
.line{
  width: 100%;
  background-color:#FF8C00;
  display:block;
  height: 15px;
}
.landingbody{
  padding-left:2%;
  padding-right:2%;
  width:100%;   
}
.blurb{
  padding-top: 10px;
  text-align:center;  
  width:80%;
}
.blurb span{
  font-size:24px;
  font-weight:bold;
}
.blurb p{
  text-align:center;
  padding-bottom:20px;
}
.demoform {
  background-color:#E0F5FF;
  width: 80%;
  padding-top: 20px;
  padding-bottom:10px;
  text-align: center;
}
.demoform span{
  font-size:18px;
  font-weight:bold;  
}
.demoform form{
  padding-top:5px;
}
#column{
  width:80%;
}
#content-1 {
    float:left;
    text-align:left;
    width:50%;
    padding-top:25px;
}
#content-1 img {
    max-height:80px;
}
#content-2 {
    float:left;
    width:50%;
    padding-top:10px;
}
.bullet {
  text-align: left;
  width: 80%;
  margin-left: 2%;
  float: left;
}

.bulletwrapper {
  width: 100%;
  clear: both;
  padding: 3%;
}
.bulletwrapper img {
  width: 50px;
  float: left;
  padding:10px;
}
#after {
  clear:both;
  padding-bottom: 10px;
}
.bottombanner{
  font-size: 20px;
  font-weight:bold;
  background-color:#D3D3D3; 
  text-align:center;
}
#quote{
  padding-left:10%;
  padding-right:10%;
  padding-top:15px;
  padding-bottom:10px;
}
.footer{
  width:100%;
  display: inline-block;
  background-color: #000000;
}
.footer img{
  max-width: 120px;
}
.footer a{
  color:#C0C0C0;
}
.footercolumn{
  width:800px;
  background-color: #000000;
  }
#footerone{
  width:200px;
  float:left;
  padding-left:40px;
  background-color: #000000;
}
#footertwo{
  float:left;
  width:400px;
  color:#C0C0C0;
  padding-top: 25px;
  background-color: #000000;
}



/*--------------------------*
/* HireMojo.com Styles
/*--------------------------*/
.aligncenter{display:block;margin:0 auto;}
.alignright{float:right;margin:10px 0 10px 10px;}
.alignleft{float:left;margin:5px 10px 0px 0;}
.floatleft{float:left;}
.floatright{float:right;}
.textcenter{text-align:center;}
.textright{text-align:right;}
.textleft{text-align:left;}
.wp-caption{max-width:100%;border:0px;text-align:center;background-color:#232323;padding-top:4px;margin:10px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.wp-caption img{margin:0;padding:0;border:0 none;}
.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;padding:0 4px 5px;margin:0;}
.wp-smiley{margin:0 !important;max-height:1em;}
blockquote.left{margin-right:20px;text-align:right;margin-left:0;width:33%;float:left;}
blockquote.right{margin-left:20px;text-align:left;margin-right:0;width:33%;float:right;}
blockquote:before{content:"|";float:left;font-weight:bold;padding-right:10px;}
cite{font-size:12px;padding-left:20px;font-style:italic;}
.sticky h3{color:#34D298;}
.gallery-caption{}
html,
body{margin:0px;padding:0px;min-height:100%;}
h1,
h2,
h3,
h4,
h5,
h6{font-weight:300;color:#000;}
a:hover{text-decoration:none;}
.clear{clear:both;}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
p{margin:10px 0;}
#comments p{margin:10px 0;font-size:15px;}
table td{border:1px solid #323232;padding:10px 20px;}
ol{margin-left:25px;}
ol ol,
ul ul{margin-left:20px;}
.bypostauthor{}
h1{font-size:4.4em;}
h2{font-size:3.4em;}
h3{font-size:2.6em;}
h4{font-size:1.2em;}
th {padding:5px;}
/*--------------------------*
/* Pagination
/*--------------------------*/
.pagination > li >a,
.pagination > li > span{background:#323232;border-radius:3px;color:#fff;}
.pagination li > span.current{background:#323232;color:#34D298;}
.pagination > li > a:hover,
.pagination > li > a:focus,
ul.pagination .current:hover,
ul.pagination > .active > span{background-color:#323232;color:#FFF;transition:all linear 0.15s;-ms-transition:all linear 0.15s;-moz-transition:all linear 0.15s;-webkit-transition:all linear 0.15s;-o-transition:all linear 0.15s;}
/*--------------------------*
/* Video
/*--------------------------*/
.video2{position:relative!important;padding-bottom:56.25%!important;height:0!important;}
.video2 iframe,
.video object,
.video embed{position:absolute!important;top:0!important;left:0!important;width:100%!important;height:100%!important;}
iframe{border:none;}
/*--------------------------*
/* Forms
/*--------------------------*/
form{margin:0 0 20px;}
#search-box form {margin-bottom:0px;}
fieldset{display:block;}
legend{background:#fff;color:#333;display:inline-block;width:auto;padding:10px;margin-bottom:0;font-size:1em;font-style:italic;font-weight:bold;line-height:1em;}
legend small{font-size:15px;font-weight:normal;color:#999999;}
label,
input,
button,
select,
textarea{font-size:15px;}
input,
button,
select,
textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-append .dropdown-menu,
.input-prepend .dropdown-menu{font-size:13px;}
.input-append .add-on,
.input-prepend .add-on{background-color:#F7AC89;color:#666;font-size:13px;height:21px;line-height:20px;text-shadow:0 1px 0px rgba(255,255,255,0.2);}
.form-search .input-prepend .search-query{-webkit-border-radius:0 14px 14px 0;-moz-border-radius:0 14px 14px 0;border-radius:0 14px 14px 0;margin-top:1px;}
.form-horizontal .control-group{margin-bottom:25px;}
.header{background:transparent url('img/pattern.png') repeat top left;background-color:#232323;z-index:9700;border-bottom:1px solid #000;}
/*--------------------------*
/* Navigation
/*--------------------------*/
#main{background:none repeat scroll 0 0 #FFFFFF;padding:0;position:relative;z-index:10;}
.navbar{-webkit-backface-visibility:hidden;}
/*header{text-align:justify;letter-spacing:1px;height:120px;position:relative;color:#fff;margin:20px 0px 20px -15px;z-index:1;}
*/
.navbar-inverse .navbar-inner{min-height:80px;background-color:#000000;background-image:none;border:0px;filter:none;box-shadow:none;}
.navbar .nav{}
/*.shrink .navbar-nav{margin-top:8px;}
*/
.navbar .brand{margin-top:0px;padding-top:0px;-webkit-margin-before:-15px;font-size:20px;text-transform:uppercase;color:#050F1E;}
.dropdown-menu{background-color:#333333;}
.dropdown-menu .divider{background-color:#222;border-bottom:1px solid #444;}
.dropdown-menu>li>a{color:#ffffff;font-size:14px;}
.dropdown-menu>li>a:hover{background-color:#34D298!important;background-image:none;color:#fff!important;}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{background:none;color:#fff;}
.navbar .nav>li>.dropdown-menu:after{border:none;}
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle,
.navbar-inverse .nav li.dropdown.active>.dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle{background-color:#111;box-shadow:none;}
.nav>li>a{margin-left:3px;}
.navbar-inner{padding-left:0px;}
.navbar .nav > li > a{line-height:40px;border-bottom:none;}
.navbar{margin-bottom:0px;transition:all 0.3s ease 0s;}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a:hover{color:#24C5BA;}
.navbar-default .navbar-nav > li > a{color:#fff;}
.navbar-default .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:focus{color:#fff;background:none;}
.navbar{min-height:77px;}
.navbar-default{background-color:rgba(255,255,255,0);background:url("img/bg-dot.png");}
.navbar-default .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:focus{background:none!important;background-image:none!important;}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{color:#fafafa;background:none;}
.navbar-default .navbar-nav > .dropdown > a .caret{border-bottom-color:#fff;border-top-color:#fff;}
.navbar-default.shrink .navbar-nav > .dropdown > a .caret{border-bottom-color:#777;border-top-color:#777;}
.navbar.shrink{min-height:35px;transition:all 0.5s ease 0s;background-color:#fff;box-shadow:0 4px rgba(0,0,0,0.1);}
.sc-nav.shrink a{padding-top:10px !important;padding-bottom:10px !important;font-size:15px;color:#202020!important;}
.sc-nav.shrink .navbar-brand{font-size:25px;}
.sc-nav.shrink .navbar-toggle{padding:8px 8px;margin:8px 15px 8px 0;border:none;border-radius:0;background:#333;}
.sc-nav.shrink .navbar-toggle:hover{background:#666;}
.navbar-default .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:hover{background:none;}
/*--------------------------*
/* Nav Dropdowns
/*--------------------------*/
.dropdown-menu li a{background-color:#fff;color:#333;}
.dropdown-menu{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:0 3px 8px rgba(17,17,17,0.2);-moz-box-shadow:0 3px 8px rgba(17,17,17,0.2);box-shadow:0 3px 8px rgba(17,17,17,0.2);list-style:none;margin:2px 0 0;padding:5px 0;text-align:left;}
.dropdown-menu li > a{padding:10px 20px;margin:-5px 0;}
.btn-group .dropdown-menu li > a{font-size:11px;}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-menu > .active > a:hover,{background-color:#34D298;background-image:none;filter:none;-ms-filter:none;color:#ffffff!important;text-decoration:none;text-shadow:none;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.dropdown-menu a{background:#fff;color:#333;}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus{background:#fff;color:#333;}
.dropdown-menu .disabled > a:hover{text-shadow:none;}
.dropdown-menu a:hover,
.dropdown-menu a:focus{filter:none !important;}
.dropdown-submenu > .dropdown-menu{border-radius:0px;}
.navbar-default .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a{color:#fff;}
.navbar-nav > li > .dropdown-menu:before {border-bottom:7px solid #fff;}
.shrink .navbar-nav > li > .dropdown-menu:before {border-bottom:7px solid rgba(17, 17, 17, 0.2);}
/*--------------------------*
/* Buttons
/*--------------------------*/
.btn,
#searchsubmit,
#submit,
.wpcf7-submit,
#content input.button,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{padding:10px 20px;background:#34D298;border:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-shadow:none;color:#FFF;font-weight:300;font-size:18px;transition:all linear 0.15s;-ms-transition:all linear 0.15s;-moz-transition:all linear 0.15s;-webkit-transition:all linear 0.15s;-o-transition:all linear 0.15s;}
.btn a,
.btn-secondary a{color:#ffffff;}
.btn a:hover,
.btn-secondary a,{color:#ffffff;text-decoration:none;}
.btn:hover,
#searchsubmit:hover,
#submit:hover button,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover{background:#999;color:#FFF;transition:all linear 0.15s;-ms-transition:all linear 0.15s;-moz-transition:all linear 0.15s;-webkit-transition:all linear 0.15s;-o-transition:all linear 0.15s;background:#7F8C8D;}
.footer #searchsubmit{margin-top:20px;}
.btn.btn-grey{font-size:16px;margin-left:10px;background:#323232;}
.btn.btn-grey:hover{background:#999;}
.aq-block-pg_slider_block .hollow.btn,
.sc-parallax .hollow.btn{background:none;border:2px solid #fff!important;transition:all linear 0.15s;-ms-transition:all linear 0.15s;-moz-transition:all linear 0.15s;-webkit-transition:all linear 0.15s;-o-transition:all linear 0.15s;}
.aq-block-pg_slider_block .hollow.btn:hover,
.sc-parallax .hollow.btn:hover,
.sc-parallax .btn:hover{border:2px solid #34D298!important;transition:all linear 0.15s;-ms-transition:all linear 0.15s;-moz-transition:all linear 0.15s;-webkit-transition:all linear 0.15s;-o-transition:all linear 0.15s;}
/*--------------------------*
/* Logo
/*--------------------------*/
.logo{color:#FFFFFF;font-size:30px;font-weight:600;margin-bottom:-50px;max-width:50%;padding-bottom:10px;text-align:left;}
.logo a{color:#ffffff;}
.logo span{font-weight:600;}
.logo-text{padding-top:25px;padding-right:40px;float:left;}
header .logo-wrapper{max-height:140px;}
.sc-nav.shrink .brand img{max-height:60px;transition:all 0.5s ease 0s;}
.shrink .sc-logo-large {display:none;transition:all 0.5s ease 0s;}
.sc-logo-small {display:none;}
.shrink .sc-logo-small {display:block;transition:all 0.5s ease 0s;}
/*--------------------------*
/* Generic Stuff
/*--------------------------*/
html,
body{margin:0px;padding:0px;position:relative;z-index:0;overflow-x:hidden;}
body{background-color:#fff;overflow-x:hidden!important;overflow-y:auto;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;height:100%;font-size:16px;font-weight:300;color:#666;text-rendering:optimizeLegibility;-webkit-overflow-scrolling:touch;}
a:hover,
a:focus{text-decoration:none;color:#666;}
li{line-height:22px;}
h5{font-size:15px;}
.page-template-page-blog-full-php .flexslider,
.page-template-page-blog-php .flexslider,
.archive .flexslider,
.search.search-results .flexslider{margin:-30px 0 30px;-webkit-margin-before:0px;
}
#slider{background-color:#323232;width:100%;z-index:0;margin-bottom:40px;}
a{outline:0!important;color:#34D298;}
.error{display:block!important;color:#CC3366!important;}
.holder{padding:0px 40px;}
.center{text-align:center;}
.alert{padding:12px 35px 12px 14px;border-radius:0px;color:#ffffff;border:0px;text-shadow:none;background-color:#FBB450;opacity:.8;}
.alert-info,
.progress-information,
.progress-striped{color:#ffffff;}
.progress{height:40px;opacity:0.85;}
.progress-striped .bar{background-color:#34D298;font-size:16px;padding:8px;}
.alert-error{background-color:#189B97;}
.alert-success{background-color:#62C462;}
.progress .bar{border-radius:0px!important;background-image:none!important;}
.address{text-align:center;}
.code-wrap{margin:40px 0;}
.code{background-color:#ffffff;border-bottom:1px solid rgba(0,0,0,0.15);padding:20px;}
.input-xlarge{width:95%;}
.b{padding-bottom:20px;}
.form-horizontal .controls{margin-left:0px;}
.form-horizontal .control-label{text-align:left;}
#searchform .screen-reader-text{display:none;}
.btn-holder{text-align:center;display:block;margin-bottom:40px;}
.box{position:relative;background:#fff;padding-top:40px;padding-bottom:60px;z-index:1;}
#archive ul li a{color:#333333;}
#archive ul li a:hover{color:#FF675B;}
#archive i{color:#dddddd;}
#commentform textarea{width:50%;height:100px;}
#archive ul{list-style:none;margin-left:0px;}
#archive .col-ex-4{margin-bottom:20px;width:366px;}
.centered{text-align:center;}
.centered:hover{cursor:default;}
#wp-calendar{width:100%;}
ul{list-style:none;}
.left .post .text ul li:before{font-family:'fontawesome';display:block;margin-right:5px;float:left;content:' \f105 ';}
.sc-parallax .progress {background:none;border:2px solid #fff;}
.sc-parallax .aq_block_tabs .aq-tab:after {background:none;}
.sc-parallax .sc_stats:after {background:none;}
.sc-parallax .timer {color:#fff;}
.sc-parallax textarea, .sc-parallax select, .sc-parallax input[type="text"], .sc-parallax input[type="password"], .sc-parallax input[type="datetime"], .sc-parallax input[type="datetime-local"], .sc-parallax input[type="date"], .sc-parallax input[type="month"], .sc-parallax input[type="time"], .sc-parallax input[type="week"], .sc-parallax input[type="number"], .sc-parallax input[type="email"], .sc-parallax input[type="url"], .sc-parallax input[type="search"], .sc-parallax input[type="tel"], .sc-parallax input[type="color"], .sc-parallax .uneditable-input, .sc-parallax #respond textarea, .sc-parallax #respond input[type="text"] {background:none;}