.top{
 vertical-align: middle;
 font-size: 12px;
 font-weight: bold;
 padding-left:25px;
}
#hmlogo{
  min-width:300px;
  padding-left:150px;
}
.top img {
  vertical-align:middle;
  padding: 10px 10px 0px;
  max-width: 100px;
}
.line{
  width: 100%;
  background-color:#FF8C00;
  display:block;
  height: 15px;
}
.landingbody{
  padding-left:2%;
  padding-right:2%;
  width:100%;   
}
.blurb{
  padding-top: 10px;
  text-align:center;  
  width:80%;
}
.blurb span{
  font-size:24px;
  font-weight:bold;
}
.blurb p{
  text-align:center;
  padding-bottom:20px;
}
.demoform {
  background-color:#E0F5FF;
  width: 80%;
  padding-top: 20px;
  padding-bottom:10px;
  text-align: center;
}
.demoform span{
  font-size:18px;
  font-weight:bold;  
}
.demoform form{
  padding-top:5px;
}
#column{
  width:80%;
}
#content-1 {
    float:left;
    text-align:left;
    width:50%;
    padding-top:25px;
}
#content-1 img {
    max-height:80px;
}
#content-2 {
    float:left;
    width:50%;
    padding-top:10px;
}
.bullet {
  text-align: left;
  width: 80%;
  margin-left: 2%;
  float: left;
}
.bullet p{
  padding-top: 1px;
}
.bulletwrapper {
  width: 100%;
  clear: both;
  padding: 3%;
}
.bulletwrapper img {
  width: 12%;
  float: left;
  padding:3%;
}
#after {
  clear:both;
  padding-bottom: 10px;
}
.bottombanner{
  font-size: 20px;
  font-weight:bold;
  background-color:#D3D3D3; 
  text-align:center;
}
#quote{
  padding-left:10%;
  padding-right:10%;
  padding-top:15px;
  padding-bottom:10px;
}
.footer{
  width:100%;
  display: inline-block;
  background-color: #000000;
}
.footer img{
  max-width: 120px;
}
.footer a{
  color:#C0C0C0;
}
.footercolumn{
  width:800px;
  background-color: #000000;
  }
#footerone{
  width:200px;
  float:left;
  padding-left:40px;
  background-color: #000000;
}
#footertwo{
  float:left;
  width:400px;
  color:#C0C0C0;
  padding-top: 25px;
  background-color: #000000;
}
